#home {
    position: relative;
    overflow: hidden;
}

#video-sitting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.card-body video {
    width: 100%;
}